<!DOCTYPE html>
<html lang="en">
    <head>
        <%= title || 'Lab1 - title did not work' %>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header>
            <h1>Lab1 - DA559A</h1>
        </header>